<div class="content col-sm-10 col-sm-offset-1 col-xs-12">
    <form ng-submit="submit(form.$invalid)" name="form" novalidate>
        <div class="form-group" ng-class="{'has-error': form.$submitted && form.$invalid && !candidate.title}">
            <label for="title">{{'CANDIDATE_FORM.TITLE' | translate}}: </label>
            <input type="text" class="form-control" id="title" ng-model="candidate.title" required/>
            <div class="error" ng-show="form.$submitted && form.$invalid && !candidate.title">{{'CANDIDATE_FORM.TITLE_REQ' | translate}}</div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.$submitted && form.$invalid && !candidate.description}">
            <label for="description">{{'CANDIDATE_FORM.DESCRIPTION' | translate}}: </label>
            <input type="textarea" class="form-control" id="description" rows="5" ng-model="candidate.description" required/>
            <div class="error" ng-show="form.$submitted && form.$invalid && !candidate.description">{{'CANDIDATE_FORM.DESCRIPTION_REQ' | translate}}</div>
        </div>
        <div class="checkbox">
            <input type="checkbox" id="checkbox" ng-model="candidate.isWinner"/>
            <label for="checkbox">{{'CANDIDATE_FORM.IS_WINNER' | translate}}</label>
        </div>
        <div class="form-group">
            <label>{{'CANDIDATE_FORM.COVER_IMAGE' | translate}}: </label>
            <div>
                <img class="cover" ng-src="{{candidate.cover ? candidate.cover : 'images/no_image.png'}}" alt="Cover"/>
                <input type="file" accept="image" ng-model="image" on-file-change="updateCover"/>
            </div>
        </div>
        <div class="right">
            <button type="submit" class="btn btn-default">{{'CANDIDATE_FORM.SAVE' | translate}}</button>
        </div>
    </form>
</div>