<div class="content col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="form-group">
        <input class="form-control" type="text" ng-model="search.title" placeholder="{{'CANDIDATES.TITLE_SEARCH' | translate}}" />
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-xs-3">
                        {{'CANDIDATES.TITLE' | translate}}
                        <a class="fa fa-sort" href="#" ng-click="orderByTitle='title';" ng-show="orderByTitle==null"></a>
                        <a class="fa fa-sort-asc" href="#" ng-click="orderByTitle='-title';" ng-show="orderByTitle=='title'"></a>
                        <a class="fa fa-sort-desc" href="#" ng-click="orderByTitle=null;" ng-show="orderByTitle=='-title'"></a>
                    </th>
                    <th class="col-xs-5">{{'CANDIDATES.DESCRIPTION' | translate}}</th>
                    <th class="col-xs-2 center">
                        {{'CANDIDATES.IS_WINNER' | translate}}
                        <a class="fa fa-sort" href="#" ng-click="orderByWinner='isWinner';" ng-show="orderByWinner==null"></a>
                        <a class="fa fa-sort-asc" href="#" ng-click="orderByWinner='-isWinner';" ng-show="orderByWinner=='isWinner'"></a>
                        <a class="fa fa-sort-desc" href="#" ng-click="orderByWinner=null" ng-show="orderByWinner=='-isWinner'"></a>
                    </th>
                    <th class="col-xs-1 center">{{'CANDIDATES.DETAILS' | translate}}</th>
                    <th class="col-xs-1 center">{{'CANDIDATES.EDIT' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="candidate in (results = (candidates | orderBy:[orderByWinner,orderByTitle] |  filter: (routerState.current.name == 'winners' || '') && {isWinner: true} | filter:search)) | startFrom:getCurrentPage()*pageSize | limitTo:pageSize">
                    <td class="col-xs-3">{{candidate.title}}</td>
                    <td class="col-xs-5">{{candidate.description}}</td>
                    <td class="col-xs-2 center star">
                        <i class="fa" ng-class="{'fa-star': candidate.isWinner, 'fa-star-o': !candidate.isWinner}" aria-hidden="true"></i>
                    </td>
                    <td class="col-xs-1 center">
                        <a ui-sref="details({id: candidate.id})" href="#"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                    <td class="col-xs-1 center">
                        <a ui-sref="edit({id: candidate.id})" href="#"><i class="fa fa-edit" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">{{'CANDIDATES.PREVIOUS' | translate}}</button>
    <span>{{currentPage+1}}/{{numberOfPages}}</span>
    <button class="btn btn-default" ng-disabled="currentPage >= numberOfPages - 1" ng-click="currentPage=currentPage+1">{{'CANDIDATES.NEXT' | translate}}</button>
    <button type="button" class="btn btn-default" ui-sref="add">{{'CANDIDATES.ADD' | translate}}</button>
</div>